@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 25% 96%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 207 78% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 94%;
    --muted-foreground: 215 20% 65%;
    --accent: 180 33% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 207 78% 50%;
    --chart-1: 180 33% 41%;
    --chart-2: 207 78% 50%;
    --chart-3: 25 95% 53%;
    --chart-4: 280 85% 61%;
    --chart-5: 341 95% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 78% 65%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 180 33% 51%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 78% 65%;
    --chart-1: 180 33% 51%;
    --chart-2: 207 78% 65%;
    --chart-3: 25 95% 63%;
    --chart-4: 280 85% 71%;
    --chart-5: 341 95% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
